<div class="responsive-table mx-5 px-5">

    <!--  view table ..... -->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Action 1</th>
            <th scope="col">Action 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <button class="btn btn-info" routerLink="edit/1">Edit</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteData()">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>
              <button class="btn btn-info" routerLink="edit/2">Edit</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteData()">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td>
              <button class="btn btn-info" routerLink="edit/3">Edit</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteData()">Delete</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>

<router-outlet></router-outlet>